# System
TZ=UTC
PUID=1000
PGID=1000

# Overseerr
OVERSEERR_URL=http://overseerr:5055
OVERSEERR_API_KEY=your_api_key_here

# Prowlarr
PROWLARR_URL=http://prowlarr:9696
PROWLARR_API_KEY=your_api_key_here

# qBittorrent
QBITTORRENT_URL=http://qbittorrent:8080
QBITTORRENT_USERNAME=admin
QBITTORRENT_PASSWORD=adminadmin
